.hide {
    display: none;
}

.service-1,
.service-2,
.service-3,
.service-4,
.about-container {
    margin: 1.5rem;
}

.subServices {
    padding-top: 1rem;
}

.service-details {
    line-height: 1.85rem;
}